name: E2E
on:
  # allow manual triggers
  workflow_dispatch: {}
  schedule:
    # daily midnight
    - cron: '0 0 * * *'
jobs:
  test-e2e-lab:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        service:
          - forgejo
          - keycloak
          - mariadb
          - nextcloud
          - postgresqlcnpg
          - postgresqlsg
          - redis
    steps:
      - uses: actions/checkout@v3
      - name: Get KUBECONFIG
        shell: bash
        env:
          LAB_KUBECONFIG: ${{ secrets.LAB_KUBECONFIG }}
        run: |
          echo "$LAB_KUBECONFIG" > kubeconfig
      - name: Run ${{ matrix.service }} e2e tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: make run-single-e2e test=${{ matrix.service }}
        env:
          KUBECONFIG: kubeconfig
      - name: Rocket.Chat Notification
        uses: RocketChat/Rocket.Chat.GitHub.Action.Notification@master
        if: failure()
        with:
          type: ${{ job.status }}
          job_name: 'E2E tests for ${{ matrix.service }} in lab environment'
          icon_emoji: ':fire:'
          url: ${{ secrets.ROCKETCHAT_WEBHOOK }}
